@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
.App {
  text-align: center;
}

 html, body #root{
     font-family: 'Rubik', 'Kanit', sans-serif;
     height: 100% !important;
     background-image: url("https://images.pexels.com/photos/62693/pexels-photo-62693.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
     background-size: cover;
 }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 35px;
  height: 35px;
  /* margin: 0 auto 10px 10; */
  display: inline;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 10px;
}

.storeProfile-img-card {
  width: 150px;
  height: 150px;
  /* margin: 0 auto 10px 10; */
  display: inline;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  /* border-radius: 50%; */
  /* margin-bottom: 20px; */
}

.dropdown-menu{
  background-color: #222222;
}

.myapp {
  padding-top: 100px;
  min-height: 100vh; /* will cover the 100% of viewport or 100*/ 
  display: block;
  position: relative;
}


/* @media (max-width :990px){
  .myapp{
    padding-left: 0px;
    padding-top: 80px;
  }
} */
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #F2C035; 
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
}
